body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.classic {
    width: 40vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}